  
  .nav-item-bottom {
    background: transparent;
    border: none;
    color: #ff6b6b;
    }
    
    .messagesIcon {
        background: linear-gradient(to right, #ff6b6b, #ff3366);
        box-shadow: 0px 10px 20px 0px rgba(255, 107, 107, 0.15);
        
      }